<div class="footer-container">
  <div class="grid-container">
    <!-- Cột địa chỉ -->
    <div class="grid-item">
      <h5>Trụ sở Hà Nội</h5>
      <p>Lô 14 Nguyễn Cảnh Dị, P. Đại Kim, Q. Hoàng Mai, TP. Hà Nội.</p>
    </div>
    <div class="grid-item">
      <h5>Hải Phòng</h5>
      <p>Căn BH 01-47 KĐT Vinhomes Imperia, Đ. Bạch Đằng, P. Thượng Lý, Q. Hồng Bàng, TP. Hải Phòng.</p>
    </div>

    <div class="grid-item">
      <h5>Yên Bái</h5>
      <p>Trung Tâm Đăng Kiểm xe cơ giới, Số 74 Đ. Nguyễn Thái Học, TP. Yên Bái, Yên Bái.</p>
    </div>
    <div class="grid-item">
      <h5>Chi nhánh Miền Trung</h5>
      <p>Số B5-15, ngõ 26, Đ. Nguyễn Thái Học, TP. Vinh, Nghệ An.</p>
      <p>Số 402, Đ. Trần Phú, X. Thạch Trung, TP. Hà Tĩnh, Hà Tĩnh.</p>
    </div>

    <div class="grid-item">
      <h5>Đà Nẵng</h5>
      <p>Lô 1 Khu B2-19, KĐT Biệt thự sinh thái, Công Viên Văn Hóa Làng Quê, Ngũ Hành Sơn, TP. Đà Nẵng.</p>
    </div>
    <div class="grid-item">
      <h5>TP. Hồ Chí Minh</h5>
      <p>Số 9, Đường 37, KĐT Vạn Phúc, P. Hiệp Bình Phước, TP. Thủ Đức, TP. Hồ Chí Minh.</p>
    </div>

    <div class="grid-item">
      <div class="app-buttons d-flex flex-column align-items-center">
        <a href="https://play.google.com/store/apps/details?id=vn.bagps.gpsmobile" target="_blank">
          <img src="assets/get-it-on-gg-play.png" alt="Google Play" class="img-app-store">
        </a>
        <a href="https://itunes.apple.com/us/app/ba-gps/id1466206178?ls=1&mt=8" target="_blank">
          <img src="assets/download-on-the-app-store.png" alt="App Store" class="img-app-store">
        </a>
      </div>

      <div class="social-icons d-flex justify-content-center gap-3 mt-3">
        <a href="https://www.facebook.com/bagps.vn" target="_blank">
          <img src="assets/icons8-facebook-logo-144.png" alt="Facebook" class="social-icon">
        </a>
        <a href="https://zalo.me/1958838581480438876" target="_blank">
          <img src="assets/icons8-zalo-144.png" alt="Zalo" class="social-icon">
        </a>
        <a href="https://www.youtube.com/@BAGPS" target="_blank">
          <img src="assets/icons8-youtube-144.png" alt="Youtube" class="social-icon">
        </a>
      </div>
    </div>
  </div>
</div>