<!-- Hiển thị khi ở màn hình to -->
<div class="d-none d-md-block container-fluid w-100 m-0 p-0">
  <div class="row">
    <div class=" text-center col-2">
      <img class="logo-ba" src="assets/logo-ba.png" alt="Logo BAGPS">
    </div>

    <div class="grid-container col-8">
      <div class="grid-item">
        <a href="https://bagps.vn/">
          {{'Home' | translate}}
        </a>
      </div>

      <div class="grid-item">
        <a href="https://bagps.vn/san-pham-va-giai-phap">
          {{'ServiceProducts' | translate}}
        </a>
      </div>

      <div class="grid-item">
        <a href="https://bagps.vn/tin-tuc-c10">
          {{'News' | translate}}
        </a>
      </div>

      <div class="grid-item">
        <a href="https://bagps.vn/huong-dan-dong-phi-dich-vu-ba-gps-d610">
          {{'PayFees' | translate}}
        </a>
      </div>

      <div class="grid-item">
        <a href="https://badoc.bagroup.vn/x/SAGhBg">
          {{'Instruct' | translate}}
        </a>
      </div>

      <div class="grid-item">
        <a href="https://bagps.vn/mang-luoi">
          {{'Network' | translate}}
        </a>
      </div>

      <div class="grid-item">
        <a href="https://bagps.vn/gioi-thieu/">
          {{'AboutUs' | translate}}
        </a>
      </div>
    </div>

    <div class="grid-item col-1">
      <a [href]="'https://bagps.vn/tel:1900%206464'" target="_blank">
        <button class="hotline-btn btn btn-outline-primary" type="button">
          <i class="fa-solid fa-phone"></i>
          <span class="ps-2">1900 6464</span>
        </button>
      </a>
    </div>

    <div class="grid-item dropdown language-dropdown col-1">
      <button 
        class="btn dropdown-toggle d-flex align-items-center" 
        type="button" 
        id="dropdownMenuButton"
        data-bs-toggle="dropdown" 
        aria-expanded="false">
        <img 
          class="icon-dropdown-menu me-2" 
          [src]="selectedLanguage.icon" 
          alt="{{ selectedLanguage.name | translate }}">
        <span>{{ selectedLanguage.name | translate }}</span>
      </button>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li *ngFor="let language of languages">
          <a class="dropdown-item d-flex align-items-center" (click)="changeLanguage(language)">
            <img [src]="language.icon" alt="{{ language.name | translate }}" class="icon-dropdown-item me-2">
            <span>{{ language.name | translate }}</span>
          </a>
        </li>
      </ul>

      <button class="menu-btn-1" type="button" (click)="openCloseMenu()">
        <i class="fa-solid fa-bars"></i>
      </button>
    </div>
  </div>
</div>

<!-- Hiển thị khi ở màn hình điện thoại -->
<div class="drawer-container d-block d-md-none w-100">
  <!-- Nút mở menu -->
  <div class="d-flex w-100 justify-content-between">
    <div class="grid-item dropdown language-dropdown-drawer">
      <button 
      class="btn dropdown-toggle d-flex align-items-center" 
      type="button" 
      id="dropdownMenuButton"
      data-bs-toggle="dropdown" 
      aria-expanded="false">
        <img 
        class="icon-dropdown-menu me-2" 
        [src]="selectedLanguage.icon" 
        alt="{{ selectedLanguage.name | translate }}">
        <span>{{ selectedLanguage.name | translate }}</span>
      </button>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li *ngFor="let language of languages">
          <a class="dropdown-item d-flex align-items-center" (click)="changeLanguage(language)">
            <img 
            class="icon-dropdown-item me-2" 
            [src]="language.icon" 
            alt="{{ language.name | translate }}" >
            <span>{{ language.name | translate }}</span>
          </a>
        </li>
      </ul>
    </div>

    <button class="menu-btn" type="button" (click)="openCloseMenu()">
      <i class="fa-solid fa-bars"></i>
    </button>
  </div>

  <!-- Overlay để tạo hiệu ứng làm mờ nền -->
  <div class="overlay" *ngIf="visible" (click)="openCloseMenu()"></div>

  <!-- Menu trượt từ bên phải -->
  <div class="menu" [class.open]="visible">
    <button class="close-btn" style="top: 0" (click)="openCloseMenu()">×</button>
    <ul>
      <li>
        <a href="https://bagps.vn/">
          {{'Home' | translate}}
        </a>
      </li>

      <li>
        <a href="https://bagps.vn/san-pham-va-giai-phap">
          {{'ServiceProducts' | translate}}
        </a>
      </li>

      <li>
        <a href="https://bagps.vn/tin-tuc-c10">
          {{'News' | translate}}
        </a>
      </li>

      <li>
        <a href="https://bagps.vn/huong-dan-dong-phi-dich-vu-ba-gps-d610">
          {{'PayFees' | translate}}
        </a>
      </li>

      <li>
        <a href="https://badoc.bagroup.vn/x/SAGhBg">
          {{'Instruct' | translate}}
        </a>
      </li>

      <li>
        <a href="https://bagps.vn/mang-luoi">
          {{'Network' | translate}}
        </a>
      </li>

      <li>
        <a href="https://bagps.vn/gioi-thieu/">
          {{'AboutUs' | translate}}
        </a>
      </li>

      <li>
      </li>

      <a [href]="'https://bagps.vn/tel:1900%206464'" target="_blank">
        <button type="button" class="hotline-btn-drawer btn btn-outline-primary">
          <i class="fa-solid fa-phone pe-2"></i>
          1900 6464
        </button>
      </a>
    </ul>
  </div>
</div>