a {
  text-decoration: none;
  color: #1660a0;

}

.icon-dropdown-menu,
.icon-dropdown-item {
  width: 1.5rem;
}

.logo-ba {
  width: 7rem;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  padding: 0;
}

// dropdown
.drawer-container {
  position: relative;
}

// Overlay làm mờ nền khi mở menu
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  transition: opacity 0.3s ease-in-out;
  display: none;
}

// Menu trượt từ bên phải
.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  height: 100vh;
  background: #333;
  color: white;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
  z-index: 20;
  display: none;
}

// Khi mở menu 
.menu.open {
  // Trượt vào đúng vị trí
  transform: translateX(0);
}

// Danh sách menu
.menu ul {
  list-style: none;
  padding: 0;
}

.menu ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.menu ul li:first-child {
  margin: 15px 0 0 0;
  padding-top: 10px;
}

.menu ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px 0;
}

// Nút đóng menu
.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
}

.menu-btn-1,
.menu-btn {
  width: 45px;
  height: 45px;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-btn-1,
.menu-btn i {
  font-size: 24px;
  color: rgb(0, 0, 0);
}

.hotline-btn,
.hotline-btn-drawer {
  border-radius: 2rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  color: #44b5fe;
  border-color: #44b5fe;
}

.hotline-btn-drawer {
  margin-top: 2rem;
}

.menu-btn-1 {
  display: none;
}

@media (min-width: 769px) and (max-width: 1319px) {
  .menu-btn-1 {
    display: block;
  }

  .col-hotline {
    margin-left: auto;
    display: flex;
    justify-content: end;
    padding-right: 0;
  }

  .grid-item.dropdown {
    justify-content: space-between;
    width: 100px;
  }

  .menu {
    display: block;
    width: 300px;
  }

  .overlay {
    display: block;
  }
}

@media (max-width: 1788px) {

  .hotline-btn>span,
  .dropdown-toggle>span {
    display: none;
  }

}

@media (max-width: 1320px) {
  .grid-container {
    display: none;
  }
}

@media (max-width: 1200px) {
  .hotline-btn {
    font-size: 0.9rem;
    /* Giảm kích thước chữ */
    padding: 0.2rem 0.8rem;
    /* Điều chỉnh padding */
    height: 2.5rem;
    /* Tự động điều chỉnh chiều cao */
  }

  .icon-dropdown-menu {
    width: 1.4rem;
    /* Giảm kích thước icon */
    margin-right: 0 !important;
  }
}

/* Điều chỉnh cho màn hình nhỏ */
@media (max-width: 992px) {
  .icon-dropdown-menu {
    width: 1.2rem;
    /* Giảm kích thước icon */
    margin-right: 0 !important;
  }
}

@media (max-width: 768px) {

  .drawer-container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .menu {
    display: block;
    width: 50%;
  }

  .overlay {
    display: block;
  }

  .hotline-btn>span,
  .dropdown-toggle>span {
    display: block;
  }
}

:host ::ng-deep {
  .btn.show {
    border: none;
  }
}

button#dropdownMenuButton {
  padding: 0;
}