h5 {
    color: #3776a7;
}

p {
    color: #8f8f97;
    text-align: start;
}

.app-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-container {
    margin: 0;
}

.img-app-store {
    object-fit: cover;
    width: 55%;
    height: auto;
    object-position: center center;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.social-icon {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.grid-container {
    display: grid;
    // 6 cột mặc định
    grid-template-columns: repeat(7, 1fr);
    gap: 15px;
    text-align: center;
}

// Màn hình lớn (6 cột)
@media (max-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

// Tablet (2 cột)
@media (max-width: 992px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

// Mobile (1 cột)
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

// Định dạng item
.grid-item {
    padding: 15px;
    font-size: 16px;
}