<div class="container-fluid">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-auto gy-4">
    <!-- Địa chỉ công ty -->
    <div class="col">
      <h5>{{ 'HeaderMainCompanyAddress' | translate }}</h5>
      <p>{{ 'MainCompanyAddress' | translate }}</p>
    </div>
    <div class="col">
      <h5>{{ 'HeaderHaiPhongAddress' | translate }}</h5>
      <p>{{ 'HaiPhongAddress' | translate }}</p>
    </div>
    <div class="col">
      <h5>{{ 'HeaderYenBaiAddress' | translate }}</h5>
      <p>{{ 'YenBaiAddress' | translate }}</p>
    </div>
    <div class="col">
      <h5>{{ 'HeaderMienTrungAddress' | translate }}</h5>
      <p class="mb-0">{{ 'MienTrungAddress1' | translate }}</p>
      <p>{{ 'MienTrungAddress2' | translate }}</p>
    </div>
    <div class="col">
      <h5>{{ 'HeaderDaNangAddress' | translate }}</h5>
      <p>{{ 'DaNangAddress' | translate }}</p>
    </div>
    <div class="col">
      <h5>{{ 'HeaderHoChiMinhAddress' | translate }}</h5>
      <p>{{ 'HoChiMinhAddress' | translate }}</p>
    </div>

    <!-- Ứng dụng & MXH -->
    <div class="col col-lg-12 col-md-12 text-center">
      <div class="app-buttons d-flex flex-column align-items-center">
        <a href="https://play.google.com/store/apps/details?id=vn.bagps.gpsmobile" target="_blank">
          <img src="assets/get-it-on-gg-play.png" alt="Google Play" class="img-fluid img-app-store">
        </a>
        <a href="https://itunes.apple.com/us/app/ba-gps/id1466206178?ls=1&mt=8" target="_blank">
          <img src="assets/download-on-the-app-store.png" alt="App Store" class="img-fluid img-app-store">
        </a>
      </div>
      <div class="social-icons d-flex justify-content-center gap-3 mt-3">
        <a href="https://www.facebook.com/bagps.vn" target="_blank">
          <img src="assets/icons8-facebook-logo-144.png" alt="Facebook" class="social-icon">
        </a>
        <a href="https://zalo.me/1958838581480438876" target="_blank">
          <img src="assets/icons8-zalo-144.png" alt="Zalo" class="social-icon">
        </a>
        <a href="https://www.youtube.com/@BAGPS" target="_blank">
          <img src="assets/icons8-youtube-144.png" alt="Youtube" class="social-icon">
        </a>
      </div>
    </div>
  </div>
</div>
