<div class="row container-fluid m-0 p-0">
    <div *ngIf="images && images.length > 0" class="col-12 position-relative p-0 carousel-container">
        <div 
            *ngFor="let image of images; let i=index" 
            class="col-12 carousel-slide position-relative"
            [ngClass]="{'image-slide-active': selectedIndex === i}">
            <a [href]="image.url" target="_blank">
                <img class="fade-custom"
                    [ngClass]="{'img-fluid d-block mx-auto w-100 object-fit-cover': selectedIndex === i}"
                    [src]="image.img" alt="" />
            </a>

            <!-- Hiển thị tiêu đề và nội dung -->
            <div class="row banner-content position-absolute ps-0 pe-0">
                <div class="col-md-10  col-8 pe-0">
                    <div class="row p-2">
                        <div class="carousel-popup col-md-12 d-flex align-items-center p-0 mb-3">
                            <h6 class="mb-0 text-truncate">{{ image.title | translate }}</h6>
                        </div>
                        <div class="carousel-popup col-md-12 d-flex align-items-center p-0">
                            <p class="mb-0 ">{{ cutText((image.shortContent | translate), 250) }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-4 d-flex align-items-center justify-content-center ps-0 pe-0">
                    <a [href]="image.url" target="_blank">
                        <button class="carousel-button">
                            {{'Detail' | translate}} <i class="fa-solid fa-arrow-right"></i>
                        </button>
                    </a>
                </div>
            </div>
        </div>

        <div class="carousel-dot-container position-absolute d-flex justify-content-center w-100">
            <span 
                *ngFor="let dot of images;let i=index" 
                class="dot" 
                [ngClass]="{'active-dot': selectedIndex === i}"
                (click)="selectImage(i)">
            </span>
        </div>
    </div>

    <!-- Phần form đăng nhập -->
    <div class="container-form-login container-fluid position-absolute">
        <div class="row justify-content-end h-100">
            <div class="col-12 col-md-12 col-lg-4 col-xl-3 d-flex align-items-center justify-content-center">
                <div class="login-card">
                    <div class="login-card-child text-center p-3">
                        <!-- Logo -->
                        <img class="logoba-login mb-4" src="assets/logo-ba.png" alt="Logo BAGPS">

                        <!-- Form -->
                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                            <!-- User Name -->
                            <div class="mb-3">
                                <div class="input-group input-custom">
                                    <span class="input-group-text text-left-custom"><i class="fas fa-user"></i></span>
                                    <input 
                                        class="form-control input-login-form" 
                                        maxlength="50"
                                        type="text" id="username"
                                        style="border-top-right-radius: 1.5rem;border-bottom-right-radius: 1.5rem;"
                                        [attr.placeholder]="'UserName' | translate" formControlName="username"
                                        >
                                </div>
                                <div 
                                    *ngIf="loginForm.get('username')?.hasError('required') && loginForm.get('username')?.touched"
                                    class="text-danger text-start">
                                    {{'UserNameIsReqired' | translate}}
                                </div>
                                <div 
                                    *ngIf="loginForm.get('username')?.hasError('pattern') && loginForm.get('username')?.touched"
                                    class="text-danger text-start">
                                    {{ 'UserNameInvalid' | translate }}
                                </div>
                            </div>

                            <!-- Mật khẩu -->
                            <div class="mb-3">
                                <div class="input-group input-custom">
                                    <span class="input-group-text text-left-custom"><i class="fas fa-lock"></i></span>
                                    <input 
                                        class="form-control input-login-form"
                                        maxlength="200"
                                        [type]="showPassword ? 'text' : 'password'" 
                                        id="password"
                                        [attr.placeholder]="'PassWord' | translate" formControlName="password"
                                        >
                                    <span class="input-group-text toggle-password" (click)="togglePassword()">
                                        <i class="fas" [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
                                    </span>
                                </div>
                                <div *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched"
                                    class="text-danger text-start">
                                    {{'PassWordIsReqired' | translate}}
                                </div>
                            </div>

                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <div class="form-check">
                                    <input 
                                        class="form-check-input" 
                                        type="checkbox" 
                                        id="rememberMe"
                                        formControlName="rememberMe">
                                    <label class="form-check-label" for="rememberMe">
                                        {{'RememberMe'| translate}}
                                    </label>
                                </div>
                                <a href="#" class="forgot-password">{{'ForgotPassword' | translate}}?</a>
                            </div>
                            <button type="submit" class="btn btn-login w-100 mb-4" [disabled]="loginForm.invalid">
                                {{'SubmitLogin' | translate}}
                            </button>
                        </form>

                        <!-- QR Code -->
                        <div class="qr-section">
                            <img src="assets/qr-install-app.png" alt="QR Code" class="mb-2">
                            <p class="text-muted small">{{'ScanQrInstallApp' | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>