<div class="container-fluid w-100 m-0 p-0">
  <div class="row">
    <div class="col-3 text-center">
      <img class="logo-ba" src="assets/logo-ba.png" alt="Logo BAGPS">
    </div>

    <div class="col-1">
      <a href="https://bagps.vn/">
        Trang chủ
      </a>
    </div>

    <div class="col-1">
      <a href="https://bagps.vn/san-pham-va-giai-phap">
        Sản phẩm dịch vụ
      </a>
    </div>

    <div class="col-1">
      <a href="https://bagps.vn/tin-tuc-c10">
        Tin tức
      </a>
    </div>

    <div class="col-1">
      <a href="https://bagps.vn/huong-dan-dong-phi-dich-vu-ba-gps-d610">
        Đóng phí
      </a>
    </div>

    <div class="col-1">
      <a href="https://badoc.bagroup.vn/x/SAGhBg">
        Hướng dẫn
      </a>
    </div>

    <div class="col-1">
      <a href="https://bagps.vn/mang-luoi">
        Mạng lưới
      </a>
    </div>

    <div class="col-1">
      <a href="https://bagps.vn/gioi-thieu/">
        Về chúng tôi
      </a>
    </div>

    <div class="col-1">
      <button type="button" class="btn btn-outline-primary"><i class="fa-solid fa-phone pe-2"></i>1900 6464</button>
    </div>

    <div class="col-1 ">
      <button type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        <img [src]="selectedLanguage.icon" alt="{{ selectedLanguage.name }}" class="icon-dropdown-menu me-2">
        {{ selectedLanguage.name }}
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li *ngFor="let language of languages">
          <a class="dropdown-item" (click)="changeLanguage(language)">
            <img [src]="language.icon" alt="{{ language.name }}" class="icon-dropdown-item me-2">
            {{ language.name }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>