// Logo & QR Code
.logoba-login,
.qr-install-app {
    width: 10rem;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Form đăng nhập
.login-card {
    width: 100%;
    // Giới hạn form để không bị rộng quá
    max-width: 350px;
    padding: 20px;
    border-radius: 10px;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    height: auto;
}

// Điều chỉnh layout khi màn hình nhỏ
@media (max-width: 768px) {
    .login-card {
        max-width: 90%;
        padding: 15px;
    }

    // Giảm kích thước logo và QR trên mobile
    .logoba-login,
    .qr-install-app {
        width: 8rem;
    }
}

// Carousel image 
.img-custom {
    width: 100%;
    max-height: 80vh;
    object-fit: cover;
    object-position: center center;
}

// Input
.input-custom {
    height: 100%;
    border-radius: 1.5rem;
    background: #f8f9fa;
}

span.input-group-text {
    border: none;
    background: transparent;
}

input.input-login-form {
    border: none;
    background: transparent;
    box-shadow: none;
}

// Toggle password icon
.toggle-password {
    cursor: pointer;
}


// Carousel
.carousel-container {
    position: relative;
    text-align: center;
    width: 100%;
}

.carousel-container img {
    display: none;
    width: 100%;
    height: auto;
    // Không bị méo
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.carousel-container img.image-active {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
}

// Khi zoom out, ảnh sẽ nhỏ theo trang 
@media (max-width: 1200px) {
    .carousel-container img {
        max-height: 60vh;
    }
}

@media (max-width: 992px) {
    .carousel-container img {
        max-height: 50vh;
    }
}

@media (max-width: 768px) {
    .carousel-container img {
        max-height: 40vh;
    }
}

// dots/indicator
.carousel-dot-container {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 1rem;
}

.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 5px;
    background-color: #bb1629;
    border-radius: 50%;
    display: inline-block;
    transition: opacity 0.6s ease;
    opacity: 0.5;
}

.active,
.dot:hover {
    opacity: 1;
}

.fade-custom {
    animation-name: fade-custom;
    animation-duration: 1.5s;
}

@keyframes fade-custom {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

.carousel-content {
    position: absolute;
    bottom: 10%;
    left: 5%;
    width: 70%;
    background: rgba(0, 0, 0, 0.7);
    padding: 0;
    border-radius: 10px;
    color: white;
    z-index: 2;
}

/* Tiêu đề tin tức */
.carousel-title {
    // font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.carousel-slide {
    display: none;
    width: 100%;
    height: auto;
    position: relative;
}

.carousel-slide.image-active {
    display: block;
}

@media (max-width: 992px) {
    .carousel-content {
        left: 5%;
        bottom: 5%;
        max-width: 90%;
    }

    .carousel-title {
        font-size: 1.5rem;
        text-align: center;
    }

    .carousel-description {
        font-size: 0.9rem;
        text-align: center;
    }

    .carousel-popup {
        text-align: center;
    }

    .carousel-button {
        padding: 6px 12px;
        font-size: 0.9rem;
    }
}

.btn-custom {
    background: #8cd63f;
    color: #0a1832;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    border-radius: 2em;
    padding: 0.5em 1em;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.carousel-popup {
    text-align: start;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* Khi thu nhỏ, căn giữa nút */
@media (max-width: 768px) {
    .carousel-content {
        text-align: center;
        width: 80%;
    }

    .btn-custom {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
}