:host ::ng-deep {
    #rememberMe.form-check-input:checked {
        background-color: #44b5fe;
        border: none;
    }
}

p {
    font-size: 0.85rem;
    margin-top: 0;
    margin-bottom: 0;
}

span.input-group-text {
    border: none;
    background: transparent;
}

input.input-login-form {
    border: none;
    background: transparent;
    box-shadow: none;
    padding-left: 0;
}

// Logo & QR Code
.logoba-login,
.qr-install-app {
    width: 10rem;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.qr-label {
    color: #8f8f97;
}

.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Form đăng nhập
.login-card {
    width: 100%;
    // Giới hạn form để không bị rộng quá
    max-width: 22vw;
    position: absolute;
    right: 2%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card-child {
    height: 85%;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 10px;
    width: 100%;
}

.text-left-custom {
    width: 3rem;
    justify-content: center;
}

// Input
.input-custom {
    height: 2.8rem;
    border-radius: 1.5rem;
    border: 1px solid #c0c2c5;
}


// Toggle password icon
.toggle-password {
    cursor: pointer;
}

// Carousel
.carousel-container {
    position: relative;
    text-align: center;
    width: 100%;
    padding: 0;
}

// Carousel image 
.img-custom {
    width: 100%;
    max-height: 80vh;
    object-fit: cover;
    object-position: center center;
}

.carousel-container img {
    display: none;
    width: 100%;
    height: auto;
    // Không bị méo
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.carousel-container img.image-active {
    display: block;
    width: 100%;
    /* Kích thước hình ảnh */
    height: 75vh;
    object-fit: cover;
    /* Căn giữa hình ảnh */
    object-position: center center;
}

// dots/indicator
.carousel-dot-container {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 1rem;
}

.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 5px;
    background-color: #bb1629;
    border-radius: 50%;
    display: inline-block;
    transition: opacity 0.6s ease;
    opacity: 0.5;
}

.active,
.dot:hover {
    opacity: 1;
}

.fade-custom {
    animation-name: fade-custom;
    animation-duration: 1.5s;
}

@keyframes fade-custom {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

// 
.carousel-content {
    position: absolute;
    bottom: 10%;
    left: 2%;
    width: 60%;
    background: rgba(0, 0, 0, 0.7);
    padding: 0;
    border-radius: 10px;
    color: white;
    z-index: 2;
    height: 8vh;
}

/* Tiêu đề tin tức */
.carousel-title {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0.5rem;
}

.carousel-slide {
    display: none;
    width: 100%;
    height: auto;
    position: relative;
}

.carousel-slide.image-active {
    display: block;
}

.btn-custom {
    background: #8cd63f;
    color: #0a1832;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 2em;
    padding: 0.5em 1em;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    height: 2.3em;
}

.carousel-popup {
    text-align: start;
    margin-left: 1em;
    height: 50%;
    align-items: center;
    display: flex;
}

/* Nút login */
.btn-login {
    border-radius: 2em;
    background: linear-gradient(to right, #3293e9, #00c3fe);
    color: white;
    border: none;
    height: 2.8rem;
}


@media (max-width: 1200px) {
    .carousel-content {
        left: 5%;
        bottom: 5%;
        width: 80%;
    }

    .carousel-title {
        font-size: 1.5rem;
        text-align: start;
    }

    .carousel-description {
        font-size: 0.7rem;
        text-align: start;
    }

    .carousel-popup {
        text-align: start;
        margin-left: 1em;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .carousel-button {
        padding: 0;
        font-size: 0.7rem;
    }

    .carousel-container img {
        max-height: 60vh;
    }
}

@media (max-width: 992px) {
    .carousel-content {
        left: 2%;
        bottom: 10%;
        width: 60%;
        height: auto;
    }

    .carousel-popup {
        text-align: start;
        margin-left: 1em;
        margin-top: 0;
        margin-bottom: 0;
    }

    .carousel-title {
        font-size: 0.7rem;
        text-align: start;
        margin-top: 0;
    }

    .carousel-description {
        font-size: 0.6rem;
        text-align: start;
    }

    .carousel-button {
        padding: 0;
        font-size: 0.5rem;
    }

    .carousel-container img {
        max-height: 50vh;
    }

    .login-card {
        width: 100%;
        max-width: 30vw;
        right: 0%;
        height: 50vh;
        display: flex;
        align-items: center;
        position: absolute;
    }

    .logoba-login,
    .qr-install-app {
        width: 4rem;
    }

    .qr-install-app {
        border: 1px solid;
    }

    .input-custom {
        height: 2rem;
    }

    span.text-left-custom {
        font-size: 0.6rem;
        height: 100%;
        padding: .2rem 0;
    }

    .input-login-form {
        height: 100%;
        font-size: 0.6rem;
    }

    .check-box-remember-me {
        font-size: 0.5rem;
        align-items: flex-start !important;
        height: 1rem;
        margin-bottom: .3em !important;
    }

    .btn-login {
        font-size: 0.7rem;
        height: 2.3rem;
        margin-bottom: 0.3em !important;
    }

    .qr-container {
        font-size: 0.5rem;
    }

    .qr-install-app{
        width: 3rem;
    }
}

@media (max-width: 768px) {
    .carousel-content {
        text-align: center;
        width: 80%;
    }

    .btn-custom {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    // Giảm kích thước logo và QR trên mobile
    .logoba-login,
    .qr-install-app {
        width: 8rem;
    }

    .qr-install-app {
        border: 1px solid;
    }

    // Form đăng nhập
    .login-card {
        width: 100%;
        max-width: 100vw;
        right: 0%;
        height: 75vh;
        display: flex;
        align-items: center;
        position: relative;
    }

    .login-card-child {
        height: 95%;
    }
}